@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', Arial, sans-serif;
    background-image: url('/backgrounddomino.svg');
    background-repeat: repeat;
    background-size: 63px 42px;
    background-color: #1a202c; /* Tailwind's bg-gray-900 hex value */
    background-blend-mode: normal;
}